name: Deploy static website to Amazon S3

on:
  push:
    branches:
      - main

env:
  BUCKET_NAME: yukta-website-dev
  DISTRIBUTION_ID: E28HJ17UY38LWQ

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4.0.2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1

      - name: Copy files to S3 bucket
        run: |
          aws s3 sync website/ s3://$BUCKET_NAME --delete

      - name: Invalidate CloudFront cache
        run: |
          aws cloudfront create-invalidation \
            --distribution-id $DISTRIBUTION_ID \
            --paths "/*"
